<header class="navbar" [class.navbar--scrolled]="scrolled()">
  <div class="container navbar-inner">
    <div class="navbar-left">
      <button class="logo" type="button" (click)="goHome()">flix</button>
      <nav class="nav-links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>
        <a routerLink="/favorites" routerLinkActive="active">My List</a>
      </nav>
    </div>
    <div class="navbar-center">
      <search-bar></search-bar>
    </div>
    <div class="navbar-right">
      <button class="icon-button mobile-only" type="button" (click)="goSearch()">
        <span class="icon-search"></span>
      </button>
      <button class="icon-button desktop-only" type="button" (click)="goFavorites()">
        <span class="icon-avatar"></span>
      </button>
    </div>
  </div>
  <div class="nav-loading" *ngIf="loadingCount() > 0">
    <div class="nav-loading-bar"></div>
  </div>
</header>
